.add_name{
    width: 65%;
    float: left;

}
.add_img{
    width: 26%;
    float: right;
    margin-top: 10px;
}
.add_name .layui-input-inline{
    margin-left: 20px;
}
.add_name .layui-inline{
    margin-top: 10px
}
.layui-upload-list img{
    border: 1px solid #D2D2D2;
    width: 148px;
    height: 147px;
}
.add_name .layui-inline .layui-input-inline{
    width: 226px;
}
#test1{
    margin-left: 30px;
}
.add_phone .layui-input-block{
    margin-left: 130px;
}
.add_phone .layui-inline{
    width: 105%;
    margin-top: 10px
}
.edit_people .layui-btn{
    width: 25%
}
.save_people .layui-btn{
    width: 52.8%;
}
.edit_people .layui-btn-danger{
   margin-left: 20%
}
.save_people .layui-btn{
    margin-left: 20%
 }
 #layui-layer11 .edit_people{
     display: block
 }