.switch_content .layui-inline{
    width: 200px;
    height: 200px;

}
.switch_content .account{
    background: #253236;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    border-radius: 25px;
}
.switch_content{
    padding: 15% 0 0 30%
}
.btn_switch{
    cursor: pointer;
}