div.BMapLib_Drawing .BMapLib_polygon {
    background: url(/src/img/draw.jpg) no-repeat center center,white;
    width: 218px;
}
div.BMapLib_Drawing .BMapLib_hander{
    background: url(/src/img/dbclick.jpg) no-repeat center center,white;
    width: 218px;
}
div.BMapLib_Drawing .BMapLib_polygon_hover {
    background: url(/src/img/draw.jpg) no-repeat center center,white;
    width: 218px;
}
div.BMapLib_Drawing .BMapLib_hander_hover{
    background: url(/src/img/dbclick.jpg) no-repeat center center,white;
    width: 218px;
}
div.BMapLib_Drawing .BMapLib_box {

}
.BMapLib_Drawing .BMapLib_Drawing_panel{
    height: 82px;
}
#drawToolLayer #btn_clear{
    height: 82px;
    width: 218px;
    background: url(/src/img/delete.jpg) no-repeat center center,white;
    border: 1px solid #666;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    z-index: 10;
    text-size-adjust: none;
}
#drawToolLayer #btn_save{
    height: 82px;
    width: 218px;
    background: url(/src/img/save.jpg) no-repeat center center,white;
    border: 1px solid #666;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    z-index: 10;
    text-size-adjust: none;
}
.layui-layout .layui-body #layui-layer125{
    width: 440px;
    height: 82px;
    top: 77px;
    left: 49.5%;
    z-index: 10;
    text-size-adjust: none;
}
.layui-form-item div.layui-input-inline {
    width: 179px;
}