.find_car{
    background: #50b4c8;
}
.find_car .layui-form-select .layui-input{
    background: #50b4c8;
    border: none;
    color: #fff;
}
.layui-form-item .layui-inline .layui-input-inline{
    width: 164px;
}
.fa-search{
    color: #fff;
}
.search_Carlist{
    color: white;
    padding-right: 20px;
}
.demoTable{
    height: 40px;
}
.find_car{
    height: 40px;
}
.start_time {
    background: #50b4c8;
}

.start_time .times {
    width: 16px;
    padding: 9px 0px;
}

.start_time .layui-input {
    padding-left: 0px;
    border: none;
    background: #50b4c8;
    text-align: center;
    color: #002060;
}

.start_time .layui-input-inline {
    background: #50b4c8;
    margin-right: 0px;
}

.start_time label {
    color: #ffffff
}

.start_time .layui-form-mid {
    margin-right: 0px;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #898989;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #898989;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #898989;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #898989;
    opacity: 1;
}
.layui-layout-body .layui-layout-admin div.layui-footer{
    height: 27vh;
}
.find_car{
    position: absolute;
    top: -195%;
    left: 2.7%;
}