.layui-layout-body .layui-layout-admin .layui-header {
    background-color: #2f3638;
}
.install{
    background: url("../img/insta.png") no-repeat center center;
    background-position: center 4px;
    padding: 0;
    line-height: 102px;
}

.layui-nav-item .exit_sys{
    background: url("../img/exit.png") no-repeat center center;
    background-position: center 4px;
    padding: 0;
    line-height: 102px;
}
.layui-bg-black{
    background-color: #253236!important;
}
.layui-nav-item{
    background: -webkit-linear-gradient(#333b3f, #252c2f);
    background: -o-linear-gradient(#333b3f, #252c2f);
    background: -moz-linear-gradient(#333b3f, #252c2f);
    background: linear-gradient(#333b3f, #252c2f);
}
.layui-nav .nav_left a{
    height: 70px;
    line-height: 70px;
    font-size: 18px;
}
.layui-layout-body .layui-layout-admin .layui-header{
    padding-bottom: 10px;
}
.layui-layout-admin .layui-side{
    margin-top: 10px
}
.layui-layout-admin .layui-side{
    z-index: 1002;
}
.layui-header{
    box-shadow: 1px 4px 5px #888888;
}
div.BMapLib_Drawing .BMapLib_polygon {
    background: url(../../img/draw.jpg) no-repeat center center,white;
    width: 218px;
}
div.BMapLib_Drawing .BMapLib_hander{
    background: url(../../img/dbclick.jpg) no-repeat center center,white;
    width: 218px;
}
div.BMapLib_Drawing .BMapLib_polygon_hover {
    background: url(../../img/draw.jpg) no-repeat center center,white;
    width: 218px;
}
div.BMapLib_Drawing .BMapLib_hander_hover{
    background: url(../../img/dbclick.jpg) no-repeat center center,white;
    width: 218px;
}
div.BMapLib_Drawing .BMapLib_box {

}
.BMapLib_Drawing .BMapLib_Drawing_panel{
    height: 82px;
    box-shadow: none;
}
#drawToolLayer #btn_clear{
    height: 82px;
    width: 218px;
    background: url(../../img/delete.jpg) no-repeat center center,white;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    z-index: 10;
    text-size-adjust: none;
}
#drawToolLayer #btn_save{
    height: 82px;
    width: 218px;
    background: url(../../img/save.jpg) no-repeat center center,white;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    z-index: 10;
    text-size-adjust: none;
}
.layui-layout .layui-body #layui-layer125{
    width: 440px;
    height: 82px;
    top: 77px;
    left: 54.1%;
    z-index: 10;
    text-size-adjust: none;
}
#layui-layer_car{
    width: 180px;
    font-size: 16px;
    background: yellow;
    left: 88%;
    color: red;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top: 100px;
    font-weight:bold;
    letter-spacing: 1px;
    opacity: 0.8
}
/* {
    width: 100%;
    height: 22vh;
    background: white;
    left: 11%;
    opacity: 1;
    top: 88%;
    z-index: 1;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
} */
@media screen and (max-height: 810px) {
    .layui-side-scroll .layui-nav .nav_left a {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
    .layui-side-scroll .layui-nav-tree .nav_left>a{
        background-position:22px 7px;
    }
    .layui-inline .layui-input, .layui-select, .layui-textarea{
        height: 32px;
    }
    .layui-btn{
        height: 32px;
    line-height: 32px;
    }
    .layui-footer .demoTable{
        margin-top: 0px
    }
    div.layui-table-cell {
        height: 23px;
        line-height: 23px;
       
    }
    .layui-footer .path_videos {
        background:- #50b4c8;
        margin-top: 6px;
        height: 34px;
        margin-bottom: 5px;
        line-height: 34px;
    }
    .start_time  .layui-input{
        height: 38px; 
         line-height: 38px;
    }
    .layui-layout-body .layui-form .layui-table-box {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #layui-layers .layui-form-item .find_car{
        margin-bottom:0px 
    }
    #layui-layers .layui-inline .layui-input{
        height: 38px;
        line-height: 38px
    }
    #layui-layerss1 .layui-inline .layui-input{
        height: 38px;
        line-height: 38px
    }
    .layui-body #layui-layerss1 .select_date{
        padding: 3px 0px;
    }
}
@media screen and (max-width: 1538px) {
    .layui-form-item .find_car .layui-btn-lg{
        padding: 0px 24px; 
    }
     
}
@media screen and (max-width: 1538px) {
    .layui-form-item .find_car .layui-btn-lg{
        padding: 0px 28px; 
    }
     
}
@media screen and (max-width: 1350px) {
    .layui-layout-left .layui-nav-item a{
        width: 100px;
    }
     
}

@media screen and (max-width: 1455px) {
    .demoTable  .path_videos a{
        padding: 0
    }
    .demoTable  .path_videos{
        width: 276px;
    }
    .start_time .layui-form-label {
        padding: 9px 3px;
    }
    .demoTable .start_time {
        width: 323px;
    }
}
#layui-layer_bottom{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 95%;
    top: 82%;
    cursor: pointer;
}
#layui-layer_top{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 95%;
    top: 89%;
    display: none;
    cursor: pointer;
}
.layui-logo{
    cursor: pointer;
}
.layui-layout-body .layui-layout-admin div.layui-footer{
    z-index: 1000
}
.layui-form-pane .layui-form-item .layui-input-block{
    margin-left: 7px;
}